doctype html
head
	meta(charset="utf-8")
	title makeKitty.exe
	link(rel="stylesheet", href="../css/master.css", media="screen", title="no title", charset="utf-8")
body
	section#head
		header
			h1 Press the button to run MakeKitty.exe
			div#run(onClick="makeKitty();") MakeKitty.exe
			
	div#results
		section#info
			h1 Your cat's name is 
				span#name
			h1 
				span#pronoun
				span is 
				span#age
				span#color
				span#gender
			
		section#sprite


script(type="text/javascript", src="../js/script.js")
	
	
